@media screen and(min-width: 878px) and (max-width: 1200px){
 
 	.main-box{
 		width: 80%;
 	}

 	.box-text{
 		padding-top: 20px;
 	}

 	img{
 		margin: 0 auto;
 	}
}


@media screen and(max-width: 878px) {
 	.main-box{
 		width: 80%;
 	}

 	.footer{
 		margin-top: 10px;
 	}
}


@media screen and(max-width: 775px) {
 
 	.main-box{
 		width: 95%;
	}

    .box-text{
    	width: 90%;
    	margin-left: 10px;
    }

    img{
 		height: 100px; 
 		padding-right: 10px;
    }

    p{
    	font-size: 0.8em;
    }

}

@media screen and(max-width: 640px) {
    p{
    	font-size: 0.74em;
    }

    .footer{
 		margin-top: 90px;
 	}

}
