/************************** DESKTOP **************************/
@media screen and (max-width: 1200px){
 
 /************* HOME *************/
 	.main-box{
 		width: 80%;
 	}

 	.box-text{
 		padding-top: 20px;
 	}

 	img{
 		margin: 0 auto;
 	}

/************* LOGIN *************/
}

/************************** TABLET **************************/
@media screen and(max-width: 878px) {

/************* HOME *************/
 	.footer{
 		margin-top: 10px;
 	}
 	p{
 		font-size: 0.64em;
 	}

/************* LOGIN *************/
	.wrapper{
		width: 90%;
	}
 	.loginCuenta{
 		padding-right: 10%;
 	}
 	.loginCadastro_Text{
 		font-size: 0.8em;
 	}
 	.lostPassword{
 		font-size: 0.7em;
 		margin-left: 70%;
 		margin: 10px auto;
 	}

 	.sectionUsername{
 		width: 130%;
 	}
 	.sectionPassword{
 		width: 130%;
 	}
}

/************************** MOBILE_TELA_MAIOR **************************/
@media screen and(max-width: 775px) {
 
/************* HOME *************/
 	.main-box{
 		width: 95%;
	}

    .box-text{
    	width: 90%;
    	margin-left: 10px;
    }

    img{
 		height: 100px; 
 		padding-right: 10px;
    }


/************* LOGIN *************/
	.wrapper{
		width: 90%;
	}
	.contato p{
		font-size: 1.2em;
	}
	.primary-Content{
		width: 70%;
	}
}

/************************** MOBILE_TELA_NORMAL **************************/
@media screen and(max-width: 640px) {

/************* HOME *************/	
    p{
    	font-size: 0.64em;
    }

    img{
    	margin-top: 10px;
    	padding: 0;
    }

/************* LOGIN *************/

	.wrapper{
		width: 	70%;
	}

 	.loginCuenta{
 		margin-left: 5%;
 		width: 80%;
 		margin-bottom: 30px;

 	}

 	.loginCadastro{
 		margin:0;
 		padding:0;
 		text-align: justify; 
 	}

 	.lostPassword{
 		margin-right: 20%;
 		font-size: 0.6em;
 	}

 	.footer{
 		margin-top: 20px;
 	}

/************* CONTATO *************/
	
	.primary-Content{
		width: 100%;
	}
	.contato p{
		font-size:0.9em;
	}
}
